<mat-sidenav-container fullscreen>
    <mat-sidenav #snav [opened]="screenWidth > 700" [mode]="(screenWidth > 700) ? 'side' : 'over'">
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content id="sidenav-content">
        <app-statusbar style="margin-top: 3px !important;" [snav]="snav"></app-statusbar>
    </mat-sidenav-content>

</mat-sidenav-container>