<div>
    <mat-toolbar>
        <button mat-button (click)="snav.toggle()" style="outline: none;">
        <mat-icon>menu</mat-icon>
    </button>
        <span style="flex: 80;"></span>
        <mat-form-field class="col-md-6">
            <mat-label>Tìm Kiếm</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <button mat-button style="outline: none;">
        <mat-icon>search</mat-icon>
    </button>
        <span style="flex: 50;"></span>
        <button mat-button style="outline: none;" [matMenuTriggerFor]="menuNotification">
        <mat-icon>notifications</mat-icon>
        Thông báo
    </button>
        <button mat-button style="outline: none;" [matMenuTriggerFor]="menuprofile">
        <mat-icon>account_circle</mat-icon>
    </button>
        <mat-menu #menuprofile>
            <button mat-menu-item routerLink="/profile"> <mat-icon>assignment_ind</mat-icon>Trang Của Bạn</button>
            <button mat-menu-item><mat-icon>exit_to_app</mat-icon>Đăng Xuất</button>
        </mat-menu>
        <mat-menu #menuNotification>
        </mat-menu>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>