::ng-deep .mat-tab-labels {
    padding: 0% !important;
    width: 400px !important;
}

.isView:hover {
    color: rgba(0, 98, 196, 0.78) !important;
    text-decoration: underline !important;
}

.dropdown-item:hover {
    background-color: rgba(0, 98, 196, 0.78) !important;
}