.example-viewport {
    height: 600px;
    width: 282px;
    background-color: #F5F5F5;
    float: left;
    overflow-y: scroll;
}

.example-item {
    height: 320px;
}

*::-webkit-scrollbar {
    width: '1px'
}