<div class="row col-md-12">
    <div class="col-md-9 col-12">
        <video style="height: 400px;width: 100%;background-color: black;" controls autoplay>
            <source style="height: 350px;object-fit: contain;width: 100%;"
                src="https://drive.google.com/uc?export=view&id=1LQ2IrkwELrnt7MPoZCDxFMAOcWrDgLlB" type="video/mp4">
        </video>
        <div>
            <h4>Vexento - Home</h4>
        </div>
        <div>
            <div style="float: right;">
                <button mat-button style="outline: none;margin-right: 5px;">
                    <mat-icon>thumb_up</mat-icon>
                </button>
                <button mat-button style="outline: none;margin-right: 10px;">
                    <mat-icon>thumb_down</mat-icon>
                </button>
                <button mat-button>
                    <mat-icon>reply_all</mat-icon>
                </button>
            </div>
        </div>
        <br>
        <hr>
        <div>
            <div style="float: right;display: flex;align-items: center;" class="row">
                <h5>Lê Việt Linh</h5>
                <button mat-button>
                    <mat-icon>add_box</mat-icon> Theo Dõi
                </button>
            </div>
        </div>
        <br>
        <hr>
        <div>
            <mat-form-field class="col-md-12">
                <input type="text" matInput placeholder="Nhập">
                <mat-icon matSuffix>send</mat-icon>
            </mat-form-field>
        </div>
        <div style="height: 200px;">

        </div>
    </div>
    <div class="col-md-3" *ngIf="screenWidth > 700">
        <div class="col-md-12" style="position: fixed;">
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                <div *cdkVirtualFor="let item of items" class="example-item">
                    <mat-card class="example-card">
                        <img mat-card-image style="object-fit: contain;height: 200px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            asdasd
                        </mat-card-content>
                    </mat-card>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>