<div style="max-height: 230px !important;">
    <img src="https://msmobile.com.vn/upload_images/images/tai-hinh-nen-thien-nhien-dep-cho-may-tinh-3.jpg" style="max-height: 230px !important;min-width: 100%;">
</div>
<div>

    <div style="margin-top: 30px;margin-left: 100px;margin-bottom: 30px; display: inline-flex;align-items: center;" class="row ">
        <img src="https://msmobile.com.vn/upload_images/images/tai-hinh-nen-thien-nhien-dep-cho-may-tinh-3.jpg" style="height: 100px;width: 100px;-moz-border-radius: 50px;-webkit-border-radius: 50px;--border-radius: 50px;border-radius: 50px;">
        <h3 style="margin-left: 20px;">Lê Việt Linh</h3>
        <div style="margin-left: 350px;">
            <button style="margin-right: 3px;" mat-raised-button type="submit" class="btn btn-primary">Tùy Chỉnh Kênh
            </button>
            <button mat-raised-button type="submit" class="btn btn-primary">Quảng Lý Video
            </button>
        </div>
    </div>
</div>
<div style="height: 500px;width: 100%;">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Video Tải Lên">
            <ng-template matTabContent>
                <div class="row col-md-12">
                    <div class="col-md-3">
                        <mat-card class="example-card">
                            <img mat-card-image style="object-fit: contain;height: 200px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                asdasd
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-md-3">
                        <mat-card class="example-card">
                            <img mat-card-image style="object-fit: contain;height: 200px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                asdasd
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-md-3">
                        <mat-card class="example-card">
                            <img mat-card-image style="object-fit: contain;height: 200px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                asdasd
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-md-3">
                        <mat-card class="example-card">
                            <img mat-card-image style="object-fit: contain;height: 200px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                asdasd
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Video Music">
            <ng-template matTabContent>
            </ng-template>
        </mat-tab>
        <mat-tab label="Video Gaming">
            <ng-template matTabContent>
            </ng-template>
        </mat-tab>
        <mat-tab label="VLog">
            <ng-template matTabContent>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>