<div align="center" style="margin: 20px 0;">
    <!-- <img id="account" width="100" class="rounded-circle user_img" [src]="!image ? viewImage('1w8ILAjf8JJXo0UnELl3B_ktXvl3sEy2v') : image.substring(0, 8) == 'https://' ? image : viewImage(image)"> -->
    <h6 style="font-weight: bold; margin-top: 20px;"></h6>
</div>
<mat-list>
    <mat-list-item>
        <button mat-raised-button routerLink="/home" [routerLinkActive]="[ 'active'] ">
            <mat-icon>home</mat-icon>
            Trang Chủ
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-raised-button routerLink="/Admin/approve " [routerLinkActive]="[ 'active'] ">
            <mat-icon>all_inbox</mat-icon>
            Kênh Đăng Ký
        </button>
    </mat-list-item>
    <hr>
    <mat-list-item>
        <button mat-raised-button routerLink="/Admin/usermanage " [routerLinkActive]="[ 'active'] ">
            <mat-icon>library_books</mat-icon>
            Thư Viện
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-raised-button routerLink="/Admin/report " [routerLinkActive]="[ 'active'] ">
                <mat-icon>thumb_up</mat-icon>
                Video Đã Thích
            </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-raised-button routerLink="/Admin/statistical " [routerLinkActive]="[ 'active'] ">
                <mat-icon>bar_chart</mat-icon>
                Thống Kê
            </button>
    </mat-list-item>
    <hr>
    <div style="text-align: center; ">
        <b>Kênh Đăng Ký</b>
    </div>

</mat-list>