<div style="height: 250px;">

</div>
<div class="row col-md-12">
    <div class="col-md-3">
        <mat-card class="example-card" routerLink="/showvideo">
            <img mat-card-image style="object-fit: contain;height: 200px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                Vexento - Home
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="example-card">
            <img mat-card-image style="object-fit: contain;height: 200px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                asdasd
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="example-card">
            <img mat-card-image style="object-fit: contain;height: 200px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                asdasd
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="example-card">
            <img mat-card-image style="object-fit: contain;height: 200px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                asdasd
            </mat-card-content>
        </mat-card>
    </div>
</div>